{%extends 'dashboard.html'%}
{%block menu%}
		<div class="menu">
		  <div class="menu-item" style="background-color:rgba(20, 41, 82,.8);"><a href="/event"><img src="{{url_for('static', filename='img/makefg.png')}}">رویدادها </a></div>
		  <div class="menu-item"><a href="/createEvent/{{session.username}}"><img src="{{url_for('static', filename='img/event-white-icon-png-7.png')}}">ایجاد رویداد </a></div>
		  <div class="menu-item"><a href="/setting/{{session.username}}"><img src="{{url_for('static', filename='img/settings-icon-18-256.png')}}">تنظیمات </a></div>
		  <div class="menu-item"><a href="/logout"><img src="{{url_for('static', filename='img/makefg (1).png')}}">خروج </a></div>
	    </div>
{%endblock menu%}

	{%block dashboardbody%}
		<div class="title"><h2>رویدادها </h2></div>
	  		
	   <div id="events" class="event">
			 {%include 'include/_event.html'%}
        </div>
	{%endblock dashboardbody%}