{%extends 'base.html'%}
{%block body%}
  	<div class="topnav" id="myTopnav">
        <a href="/">صفحه اصلی </a>
        <a href="/register">عضویت </a>
        <a href="Topnav:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="bg"></div>
    <header>
        <div class="content">
            <div class="h">
	            <h1>ورود اعضا </h1>
                <form method="POST" action="">
	            <div class="login">
                    {%include 'include/_masseges.html'%}
		           	<div class="forml">
		                <div class="input-addon">
		                    <i class="fa fa-user" aria-hidden="true"></i>
		                </div>
		                <input type="text" dir="rtl" placeholder="نام کاربری" name="username" class="form-control" value={{request.form.username}} >
		            </div>
		            <div class="forml">
		                <div class="input-addon">
		                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
		                </div>
		                <input type="password" dir="rtl" placeholder="رمز ورود" name="password" class="form-control" value={{request.form.password}}>
		            </div>
		            <div class="forml">
		            	<div style="width: 100%;">
                            <input href="/dashboard" type="submit" value="ورود" class="button">
		                </div>
		            </div>
		            <div class="forml">
		              	<div class="separator">
		                	<p class="change_link">آیا برای اولین بار از سامانه استفاده می کنید؟  </p>
		                	<a href="/register" class="to_register" style="color: #002B5F ; font-size: 14px"> ثبت نام  </a>
		           		</div>
		          	</div>
	        	</div>
                </form>
            </div>
        </div>
    </header>
{%endblock body%}